## Finding Averages and Ranges for Global Mortality Data
#### Camilo Gomez and Daniel Verdear for Safe-esteem

Mortality data has been provided for several global regions. The relevant splits on this data are cause of death, victim age, and victim gender. The contents of this data file must be parsed to obtain an understanding of the data and how it will affect scores in the Safe-esteem app.

In [1]:
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dfs = pd.read_excel('Selected_Data_Sample_01_2019.xlsx', sheet_name = list(range(1,12)))

In [3]:
dfs[8]

,measure_id,measure_name,location_id,location_name,sex_id,sex_name,age_id,age_name,cause_id,cause_name,metric_id,metric_name,year,val,upper,lower
0,1,Deaths,63,Ukraine,1,Male,5,1 to 4,344,Neglected tropical diseases and malaria,3,Rate,2016,0.021246,0.041032,0.010341
1,1,Deaths,63,Ukraine,2,Female,5,1 to 4,344,Neglected tropical diseases and malaria,3,Rate,2016,0.014702,0.032993,0.006501
2,1,Deaths,63,Ukraine,1,Male,6,5 to 9,344,Neglected tropical diseases and malaria,3,Rate,2016,0.016010,0.025922,0.010024
3,1,Deaths,63,Ukraine,2,Female,6,5 to 9,344,Neglected tropical diseases and malaria,3,Rate,2016,0.012911,0.020287,0.008165
4,1,Deaths,63,Ukraine,1,Male,7,10 to 14,344,Neglected tropical diseases and malaria,3,Rate,2016,0.013493,0.018455,0.009741
5,1,Deaths,63,Ukraine,2,Female,7,10 to 14,344,Neglected tropical diseases and malaria,3,Rate,2016,0.013822,0.019434,0.010049
6,1,Deaths,63,Ukraine,1,Male,8,15 to 19,344,Neglected tropical diseases and malaria,3,Rate,2016,0.014789,0.021129,0.009767
7,1,Deaths,63,Ukraine,2,Female,8,15 to 19,344,Neglected tropical diseases and malaria,3,Rate,2016,0.012284,0.017238,0.008541
8,1,Deaths,63,Ukraine,1,Male,9,20 to 24,344,Neglected tropical diseases and malaria,3,Rate,2016,0.027920,0.045699,0.016884
9,1,Deaths,63,Ukraine,2,Female,9,20 to 24,344,Neglected tropical diseases and malaria,3,Rate,2016,0.012758,0.018544,0.008180
10,1,Deaths,63,Ukraine,1,Male,10,25 to 29,344,Neglected tropical diseases and malaria,3,Rate,2016,0.031778,0.044614,0.021049
11,1,Deaths,63,Ukraine,2,Female,10,25 to 29,344,Neglected tropical diseases and malaria,3,Rate,2016,0.015713,0.024254,0.009254
12,1,Deaths,63,Ukraine,1,Male,11,30 to 34,344,Neglected tropical diseases and malaria,3,Rate,2016,0.044396,0.064920,0.028596
13,1,Deaths,63,Ukraine,2,Female,11,30 to 34,344,Neglected tropical diseases and malaria,3,Rate,2016,0.019140,0.030296,0.010874
14,1,Deaths,63,Ukraine,1,Male,12,35 to 39,344,Neglected tropical diseases and malaria,3,Rate,2016,0.053431,0.079638,0.032709
15,1,Deaths,63,Ukraine,2,Female,12,35 to 39,344,Neglected tropical diseases and malaria,3,Rate,2016,0.023129,0.037461,0.013020
16,1,Deaths,63,Ukraine,1,Male,13,40 to 44,344,Neglected tropical diseases and malaria,3,Rate,2016,0.056607,0.085930,0.036376
17,1,Deaths,63,Ukraine,2,Female,13,40 to 44,344,Neglected tropical diseases and malaria,3,Rate,2016,0.023972,0.037431,0.014129
18,1,Deaths,63,Ukraine,1,Male,14,45 to 49,344,Neglected tropical diseases and malaria,3,Rate,2016,0.073010,0.108494,0.045370
19,1,Deaths,63,Ukraine,2,Female,14,45 to 49,344,Neglected tropical diseases and malaria,3,Rate,2016,0.028828,0.043061,0.018385
20,1,Deaths,63,Ukraine,1,Male,15,50 to 54,344,Neglected tropical diseases and malaria,3,Rate,2016,0.082857,0.118308,0.053233
21,1,Deaths,63,Ukraine,2,Female,15,50 to 54,344,Neglected tropical diseases and malaria,3,Rate,2016,0.033004,0.048694,0.021470
22,1,Deaths,63,Ukraine,1,Male,16,55 to 59,344,Neglected tropical diseases and malaria,3,Rate,2016,0.104695,0.150299,0.068826
23,1,Deaths,63,Ukraine,2,Female,16,55 to 59,344,Neglected tropical diseases and malaria,3,Rate,2016,0.039726,0.059785,0.026029
24,1,Deaths,63,Ukraine,1,Male,17,60 to 64,344,Neglected tropical diseases and malaria,3,Rate,2016,0.116297,0.159318,0.077902
25,1,Deaths,63,Ukraine,2,Female,17,60 to 64,344,Neglected tropical diseases and malaria,3,Rate,2016,0.045563,0.066768,0.030389
26,1,Deaths,63,Ukraine,1,Male,18,65 to 69,344,Neglected tropical diseases and malaria,3,Rate,2016,0.118731,0.161990,0.081411
27,1,Deaths,63,Ukraine,2,Female,18,65 to 69,344,Neglected tropical diseases and malaria,3,Rate,2016,0.057910,0.085277,0.037403
28,1,Deaths,63,Ukraine,1,Male,19,70 to 74,344,Neglected tropical diseases and malaria,3,Rate,2016,0.127013,0.174363,0.087220
29,1,Deaths,63,Ukraine,2,Female,19,70 to 74,344,Neglected tropical diseases and malaria,3,Rate,2016,0.069619,0.106138,0.044797
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2886,1,Deaths,63,Ukraine,1,Male,10,25 to 29,854,Executions and police conflict,3,Rate,2016,0.710100,1.689322,0.068933
2887,1,Deaths,63,Ukraine,2,Female,10,25 to 29,854,Executions and police conflict,3,Rate,2016,0.020073,0.072770,0.006334
2888,1,Deaths,63,Ukraine,1,Male,11,30 to 34,854,Executions and police conflict,3,Rate,2016,0.643598,1.461327,0.079591
2889,1,Deaths,63,Ukraine,2,Female,11,30 to 34,854,Executions and police conflict,3,Rate,2016,0.020229,0.058428,0.006231
2890,1,Deaths,63,Ukraine,1,Male,12,35 to 39,854,Executions and police conflict,3,Rate,2016,0.580299,1.254126,0.039771
2891,1,Deaths,63,Ukraine,2,Female,12,35 to 39,854,Executions and police conflict,3,Rate,2016,0.028015,0.101380,0.006486
2892,1,Deaths,63,Ukraine,1,Male,13,40 to 44,854,Executions and police conflict,3,Rate,2016,0.528238,1.213498,0.081108
2893,1,Deaths,63,Ukraine,2,Female,13,40 to 44,854,Executions and police conflict,3,Rate,2016,0.026065,0.076244,0.007340
2894,1,Deaths,63,Ukraine,1,Male,14,45 to 49,854,Executions and police conflict,3,Rate,2016,0.458441,1.113786,0.045736
2895,1,Deaths,63,Ukraine,2,Female,14,45 to 49,854,Executions and police conflict,3,Rate,2016,0.022973,0.073773,0.006988
2896,1,Deaths,63,Ukraine,1,Male,15,50 to 54,854,Executions and police conflict,3,Rate,2016,0.374254,0.902170,0.036722
2897,1,Deaths,63,Ukraine,2,Female,15,50 to 54,854,Executions and police conflict,3,Rate,2016,0.017583,0.046784,0.007029
2898,1,Deaths,63,Ukraine,1,Male,16,55 to 59,854,Executions and police conflict,3,Rate,2016,0.254647,0.616318,0.064706
2899,1,Deaths,63,Ukraine,2,Female,16,55 to 59,854,Executions and police conflict,3,Rate,2016,0.014435,0.042588,0.006744
2900,1,Deaths,63,Ukraine,1,Male,17,60 to 64,854,Executions and police conflict,3,Rate,2016,0.167336,0.354213,0.061850
2901,1,Deaths,63,Ukraine,2,Female,17,60 to 64,854,Executions and police conflict,3,Rate,2016,0.010778,0.020805,0.006776
2902,1,Deaths,63,Ukraine,1,Male,18,65 to 69,854,Executions and police conflict,3,Rate,2016,0.084594,0.193304,0.026849
2903,1,Deaths,63,Ukraine,2,Female,18,65 to 69,854,Executions and police conflict,3,Rate,2016,0.009826,0.014556,0.006648
2904,1,Deaths,63,Ukraine,1,Male,19,70 to 74,854,Executions and police conflict,3,Rate,2016,0.041332,0.120140,0.013500
2905,1,Deaths,63,Ukraine,2,Female,19,70 to 74,854,Executions and police conflict,3,Rate,2016,0.009639,0.013630,0.006606
2906,1,Deaths,63,Ukraine,1,Male,20,75 to 79,854,Executions and police conflict,3,Rate,2016,0.027175,0.137901,0.008638
2907,1,Deaths,63,Ukraine,2,Female,20,75 to 79,854,Executions and police conflict,3,Rate,2016,0.009460,0.013016,0.006571
2908,1,Deaths,63,Ukraine,1,Male,5,1 to 4,295,"Communicable, maternal, neonatal, and nutritio...",3,Rate,2016,7.482900,12.833808,4.257270
2909,1,Deaths,63,Ukraine,2,Female,5,1 to 4,295,"Communicable, maternal, neonatal, and nutritio...",3,Rate,2016,6.748353,11.762172,3.669854
2910,1,Deaths,63,Ukraine,1,Male,6,5 to 9,295,"Communicable, maternal, neonatal, and nutritio...",3,Rate,2016,2.125259,3.210733,1.386761
2911,1,Deaths,63,Ukraine,2,Female,6,5 to 9,295,"Communicable, maternal, neonatal, and nutritio...",3,Rate,2016,1.967815,2.773508,1.337045
2912,1,Deaths,63,Ukraine,1,Male,7,10 to 14,295,"Communicable, maternal, neonatal, and nutritio...",3,Rate,2016,1.677284,2.309463,1.183798
2913,1,Deaths,63,Ukraine,2,Female,7,10 to 14,295,"Communicable, maternal, neonatal, and nutritio...",3,Rate,2016,1.609230,2.205459,1.150624
2914,1,Deaths,63,Ukraine,1,Male,8,15 to 19,295,"Communicable, maternal, neonatal, and nutritio...",3,Rate,2016,2.525569,3.595801,1.710026
2915,1,Deaths,63,Ukraine,2,Female,8,15 to 19,295,"Communicable, maternal, neonatal, and nutritio...",3,Rate,2016,2.457736,3.447993,1.737723

Line 2 does a really cool thing. It imports the entire Excel workbook, sheet by sheet, into a data structure called an OrderedDict. This preserves the order of the sheets, keeps them separate, and makes them iterable. This data structure will make it easy to search through every region with several split conditions.
<b>NOTE:</b> The operation on Line 2 is extremely resource consuming. It must run through thousands of lines of data and build multiple data structures to contain them all. It took several minutes on a machine with a 4GHz processor and 16GB RAM.

The following cell contains the definitions for functions to query the data based on age, gender, and cause of death. They were written by Camilo and are the most essential component of this analysis.

In [4]:
#rewritten to take the dataframe index as a parameter and search through dfs[index][sex id, age id, cause id]

def risk_search(index, sex_id, age_id, domain):
    '''takes in demographic category and returns avergage risk score

    '''
        
    result_df = dfs[index].loc[(dfs[index]['sex_id'] == sex_id) & (dfs[index]['age_id'] == age_id) & 
                               (dfs[index]['cause_id'] == domain)]
    return result_df
    
def average_rate(result_df):
    '''returns average of val for any constructed dataframe'''
    return result_df['val'].mean()
def range_int(result_df):
    ''' returns range that the values of a particular group may take
    '''
    range_int = (result_df['upper'].max(), result_df['lower'].min())
    return range_int

In [5]:
testing_res = risk_search(1,1,9,696)
#should return a dataframe for all men ages 20-24 in the USA that dies of 'Unintentional injuries'
print(testing_res.head())
print(testing_res.shape)

      measure_id measure_name  location_id location_name  sex_id sex_name  \
2425           1       Deaths          546     Minnesota       1     Male
3001           1       Deaths          570    Washington       1     Male
4640           1       Deaths          548      Missouri       1     Male
5696           1       Deaths          573       Wyoming       1     Male
6814           1       Deaths          538          Iowa       1     Male

      age_id  age_name  cause_id              cause_name  metric_id  \
2425       9  20 to 24       696  Unintentional injuries          3
3001       9  20 to 24       696  Unintentional injuries          3
4640       9  20 to 24       696  Unintentional injuries          3
5696       9  20 to 24       696  Unintentional injuries          3
6814       9  20 to 24       696  Unintentional injuries          3

     metric_name  year        val      upper      lower
2425        Rate  2015   7.743803   9.449444   6.244884
3001        Rate  2016   8.281789  10.506892   6.557071
4640        Rate  2015  10.134203  12.981463   8.257418
5696        Rate  2016  13.840565  17.287474  10.924755
6814        Rate  2016   7.604839   9.594013   5.942193
(102, 16)

We now need to explain why there are 102 instances when instances should be organized by state. By looking through the data, we can see that Washington DC is counted separately and data from 2015 and 2016 are stored. 

(50+1)*2 = 102 so everything adds up, and our functions work!

In [6]:
usa_healthd = []

In [7]:
for j in [295,409,718]:
    for k in [1,2]:
        for l in list(range(5,21)):
            dfw = risk_search(1,k,l,j)
            dfw.reset_index(inplace=True)
            
            if(dfw.empty):
                continue
            loc = 'USA'
            sex = dfw['sex_name'].iloc[0]
            age = dfw['age_name'].iloc[0]
            cause = dfw['cause_name'].iloc[0]
            avg = average_rate(dfw)
            rng = range_int(dfw)
            usa_healthd.append([loc,sex,age,cause,avg,rng])
            
usa_health = pd.DataFrame(usa_healthd, columns = ['location','sex','age','cause','average','range'])

In [8]:
world_healthd = []

In [9]:
for i in list(range(2,12)):
    for j in [295,409,718]:
        for k in [1,2]:
            for l in list(range(5,21)):
                dfw = risk_search(i,k,l,j)
                dfw.reset_index(inplace=True)

                if(dfw.empty):
                    continue
                loc = dfw['location_name'].iloc[0]
                if(i==2):
                    loc = 'Mexico'
                if(i==4):
                    loc = 'Brazil'
                sex = dfw['sex_name'].iloc[0]
                age = dfw.loc[0,'age_name']
                cause = dfw.loc[0,'cause_name']
                avg = average_rate(dfw)
                rng = range_int(dfw)
                world_healthd.append([loc,sex,age,cause,avg,rng])
            
world_health = pd.DataFrame(world_healthd, columns = ['location','sex','age','cause','average','range'])

In [10]:
usa_health.head()

,location,sex,age,cause,average,range
0,USA,Male,1 to 4,"Communicable, maternal, neonatal, and nutritio...",2.984085,"(5.67998522994, 1.27501435121999)"
1,USA,Male,5 to 9,"Communicable, maternal, neonatal, and nutritio...",0.788709,"(1.77734434934999, 0.252776363889)"
2,USA,Male,10 to 14,"Communicable, maternal, neonatal, and nutritio...",0.687146,"(1.3910870627, 0.219197884201)"
3,USA,Male,15 to 19,"Communicable, maternal, neonatal, and nutritio...",0.970994,"(2.37937673641, 0.436667580826999)"
4,USA,Male,20 to 24,"Communicable, maternal, neonatal, and nutritio...",2.052460,"(5.5182089963, 0.95430637052)"

In [11]:
world_health.head()

,location,sex,age,cause,average,range
0,Mexico,Male,1 to 4,"Communicable, maternal, neonatal, and nutritio...",18.747181,"(79.9124968738, 6.27351055638)"
1,Mexico,Male,5 to 9,"Communicable, maternal, neonatal, and nutritio...",4.287553,"(14.5889266152999, 1.45238541666)"
2,Mexico,Male,10 to 14,"Communicable, maternal, neonatal, and nutritio...",3.705016,"(9.48495503051, 1.74779269610999)"
3,Mexico,Male,15 to 19,"Communicable, maternal, neonatal, and nutritio...",4.467666,"(10.9634196754, 2.53017773039999)"
4,Mexico,Male,20 to 24,"Communicable, maternal, neonatal, and nutritio...",9.740475,"(19.879040332, 5.28076288746)"

This is the basic structure for creating these dataframes.

Copy paste cells 6-9 to compute Crime, Stationary Accidents, Walking Accidents, Cycling Accidents, Motor Vehicle Accidents. Just rewrite the list in the j for loop to include the criteria that are required.

Additionally, you can use pointwise multiplication to calculate the values for Cycling and Motor Vehicle Crime. Hope this helps!!